*   {
    // background-color: black;
    color: white;
}

.header{
    width: inherit;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto;
    background-color: transparent;
    .wrapper{
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .container{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            img{
                width: 9.25rem;
                height: 2.5rem;
                object-fit: contain;
            }
        }
    }
   
}
// IMG BACKGROUND PARA EL MAIN PELÍCULAS Y SERIES SIN LÍMITES
// background-image: "https: //assets.nflxext.com/ffe/siteui/vlv3/8728e059-7686-4d2d-a67a-84872bd71025/5984498c-a52c-4c07-a754-414d8f64f193/ES-es-20240708-POP_SIGNUP_TWO_WEEKS-perspective_WEB_a5cf339a-463c-4bcf-9036-1972bf62b41f_small.jpg";